.herosection{
    background-color: var(--css-black);
    width: 100vw;
    height: 270px;
    display: flex;
    justify-content: center;

}
.text{
    color: var(--css-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    /* text-align: center; */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 556px;
    height: 100px;
    margin-top: 97px;
    /* flex-shrink: 0; */
}
.image{
    width:212px;
    height: 212px;
    margin-top: 50px;
}