.card-section{
    margin: 15px; 
}

.cs-header{   
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px ;
    color: var(--css-white);
    font-size: 20px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cs-album-name{
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Poppins';
}
.cs-more{
    color: var(--Primary-400, #34C94B);
    /* text-align: right; */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}
