.cursole {
    margin-right: 15px;
    position: relative;
}

.arrow {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    z-index: 2;
    width: 24px;
    height: 24px;
}

.arrow-left {
    left: -12;
}

.arrow-right {
    
    right: 0;
}
